{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

{% if coin %}

{# Display card for the movie details #}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        {{ coin.name }} ({{ coin.symbol }})
      </div>
      <div class="card-body">
        <img src="{{ coin.icon }}" class="mr-3 movie" alt="alt text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Current Price (USD) : $</b> {{ coin.price }}</li>
          <li class="list-group-item"><b>Market Cap Rank: </b> {{ coin.marketCapRank }}</li>
          <li class="list-group-item"><b>Coin description: </b> {{ coin.description }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}