{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    {% for result in results %}
    <div class="media">
        <img src="{{ result.icon }}" class="mr-3 movie" alt="missing">
        <div class="media-body">
            
        <h5 class="mt-0"><a href="{{ url_for('movies.movie_detail', movie_id=result.id) }}">{{ result.name }} </a> ({{ result.symbol }})</h5>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
